# Modeling

### Getting encoded data

Since we have to do feature selection again we have to do one hot encoding again

In [1]:

import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import tflearn

WARNING:tensorflow:From C:\Users\dokee\AppData\Roaming\Python\Python38\site-packages\tensorflow\python\compat\v2_compat.py:101: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term
curses is not supported on this machine (please install/reinstall curses for an optimal experience)

In [2]:
cleaned_df = pd.read_csv("cleaned_df_1.csv")

In [3]:
cleaned_df = cleaned_df.drop(["COVID_HR1","COVID_HR2","IDEOLOGY4"],axis=1)
missing = ["HR11","IDEOLOGY7"]
for i in missing:
    mode = cleaned_df[i].mode()
    print(mode[0])
    fixed = []
    for value in cleaned_df[i]:
        if value == 'NA' or value != value:
            fixed.append(mode[0])
        else:
            fixed.append(value)
    cleaned_df[i] = fixed

B
C

In [4]:
for (columnName, columnData) in cleaned_df.iteritems(): 
    missingCount = (columnData == 'NA').sum() 
    missingCount += columnData.isnull().sum() 
    percentage = (missingCount/len(cleaned_df))*100 
    #print(percentage)
    if missingCount > 0:        
        print("Missing Values in column : ", columnName, ", missing rows: ", 
            missingCount, ", missing percentage: ",  percentage, '%') 
        if percentage > 50.0:
            too_many_missing_value_columns.append(columnName)

### Feature selection
Feature we are going to use here is the ordinal IDEOLOGY5. IDEOLOGY5 is "If you had to describe your ideology along a Left-Right political spectrum, which of the following would come closest to how you would describe yourself?"

In [5]:
cleaned_df["HR1_10SCALE"].unique()

array([ 4, 10,  5,  1,  3,  7,  2,  8,  6,  9], dtype=int64)

In [5]:
tmp_df = cleaned_df.copy()
nominal_val = cleaned_df.select_dtypes(include=['object']).columns
for index, values in tmp_df.iteritems():
    if index in nominal_val:
        unique = pd.unique(values)
        dic = []
        for i in values:
            dic.append(np.where(unique == i)[0][0])
        tmp_df[index] = dic

In [7]:
tmp_df.columns

Index(['Unnamed: 0', 'ARM', 'HR1_10SCALE', 'HR2_1', 'HR2_2', 'HR2_3', 'HR2_4',
       'HR2_5', 'HR3', 'HR4',
       ...
       'RUMORS1_BAT_TO_HUMANS', 'RUMORS1_BAT_ANIMAL_HUMANS',
       'RUMORS1_WET_MARKET', 'RUMORS1_OTHER', 'DEMOGRAPHIC1_EMPLOYED',
       'DEMOGRAPHIC1_UNEMPLOYED', 'DEMOGRAPHIC1_RETIRED',
       'DEMOGRAPHIC1_STUDENTS', 'DEMOGRAPHIC1_OTHER', 'HR1'],
      dtype='object', length=218)

In [7]:
from sklearn.model_selection import train_test_split
X = tmp_df.drop(["IDEOLOGY5","HR1_10SCALE"],axis=1) #obamacare
y = tmp_df["HR1_10SCALE"]
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = .75, test_size = .25, random_state = 72)

### Feature selection with chi squared

In [8]:
from sklearn.feature_selection import SelectKBest, chi2
fs = SelectKBest(score_func=chi2, k='all')
fs.fit(x_train,y_train)
x_train_fs = fs.transform(x_train)
x_test_fs = fs.transform(x_test)

In [9]:
selected_features = []
for i in range(len(fs.scores_)):
    #print('Feature %s: %f' % (tmp_df.columns[i], fs.scores_[i]))
    if fs.scores_[i] > 100:
        print('Feature %s: %f' % (X.columns[i], fs.scores_[i]))
        selected_features.append(X.columns[i])
selected_features.remove("Unnamed: 0")
selected_features

Feature Unnamed: 0: 1394.298120
Feature STIMULUS5: 105.599636
Feature DEMOGRAPHIC5: 3867.751601
Feature age: 142.334777

['STIMULUS5', 'DEMOGRAPHIC5', 'age']

Selected Features are 'HR6', 'MEDIA12', 'IDEOLOGY6', 'DEMOGRAPHIC4', 'DEMOGRAPHIC5' DEMOGRAPHIC 4 is nominal so it will have to be encoded.

### One Hot

In [11]:
selected_df = cleaned_df[selected_features].copy()
selected_df["HR1_10SCALE"] = cleaned_df["HR1_10SCALE"].copy()
selected_df

     STIMULUS5 DEMOGRAPHIC5  age  HR1_10SCALE
0            A        46825   24            4
1            D        81650   23            4
2            E        31027   27           10
3            A        60609   51            5
4            C        39466   37            5
...        ...          ...  ...          ...
1206         A        43701   22            5
1207         A        34475   24            1
1208         D         6152   20            4
1209         A        21740   48            1
1210         A        40353   68            5

[1211 rows x 4 columns]

In [12]:
nominal_df = selected_df[selected_df.select_dtypes(include=['object']).columns]
nominal_df

     STIMULUS5 DEMOGRAPHIC5
0            A        46825
1            D        81650
2            E        31027
3            A        60609
4            C        39466
...        ...          ...
1206         A        43701
1207         A        34475
1208         D         6152
1209         A        21740
1210         A        40353

[1211 rows x 2 columns]

In [13]:
nn_df = pd.DataFrame()
for i in nominal_df.columns:
    unique = pd.unique(selected_df[i].copy())
    count = 0
    for j in unique:
        name = i + "_" + str(j)
        tmp = []
        for k in nominal_df[i]:
            if k == j:
                tmp.append(1)
            else:
                tmp.append(0)
        count +=1
        nn_df[name] = tmp
nn_df

<ipython-input-13-3de23106784c>:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  nn_df[name] = tmp

,STIMULUS5_A,STIMULUS5_D,STIMULUS5_E,STIMULUS5_C,STIMULUS5_B,STIMULUS5_F,DEMOGRAPHIC5_46825,DEMOGRAPHIC5_81650,DEMOGRAPHIC5_31027,DEMOGRAPHIC5_60609,...,DEMOGRAPHIC5_12225,DEMOGRAPHIC5_31323,DEMOGRAPHIC5_90005,DEMOGRAPHIC5_18051,DEMOGRAPHIC5_25271,DEMOGRAPHIC5_43701,DEMOGRAPHIC5_34475,DEMOGRAPHIC5_6152,DEMOGRAPHIC5_21740,DEMOGRAPHIC5_40353
0,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1207,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1208,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1209,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1210,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
selected_df = selected_df.drop(nominal_df.columns,axis=1)
for index, value in nn_df.iteritems():
    selected_df[index] = value

<ipython-input-14-02f9fd1118ec>:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  selected_df[index] = value

In [15]:
selected_df["HR1_10SCALE"]

0        4
1        4
2       10
3        5
4        5
        ..
1206     5
1207     1
1208     4
1209     1
1210     5
Name: HR1_10SCALE, Length: 1211, dtype: int64

### Now we have our selected features for our data.

In [16]:
selected_df.to_csv("HR1_10SCALE_encoded.csv")
selected_df

,age,HR1_10SCALE,STIMULUS5_A,STIMULUS5_D,STIMULUS5_E,STIMULUS5_C,STIMULUS5_B,STIMULUS5_F,DEMOGRAPHIC5_46825,DEMOGRAPHIC5_81650,...,DEMOGRAPHIC5_12225,DEMOGRAPHIC5_31323,DEMOGRAPHIC5_90005,DEMOGRAPHIC5_18051,DEMOGRAPHIC5_25271,DEMOGRAPHIC5_43701,DEMOGRAPHIC5_34475,DEMOGRAPHIC5_6152,DEMOGRAPHIC5_21740,DEMOGRAPHIC5_40353
0,24,4,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,23,4,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,27,10,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,51,5,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,37,5,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,22,5,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1207,24,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1208,20,4,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1209,48,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1210,68,5,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1